# .github/workflows/deploy.yml
name: Terraform Deploy

on:
  push:
    branches: ["main"]
    paths:
      - "terraform/**"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      AWS_REGION: eu-west-2
      DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
      HEALTHCHECK_PATH: /healthz
      TF_VAR_image_tag: ${{ github.sha }}

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::595552412690:role/ECSCICDRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -input=false -var-file="terraform.tfvars" -out=tfplan

      - name: Terraform apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -input=false -auto-approve tfplan

      - name: Health check
        if: github.ref == 'refs/heads/main'
        run: curl -f https://${DOMAIN_NAME}${HEALTHCHECK_PATH}
